<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alibaba.datafilter.mapper.KnowledgeFileMapper">

    <resultMap id="BaseResultMap" type="alibaba.datafilter.model.domain.KnowledgeFile">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
            <result property="ossKey" column="oss_key" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
            <result property="chunkCount" column="chunk_count" jdbcType="INTEGER"/>
            <result property="uploadedAt" column="uploaded_at" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveBatchAutoStatus" parameterType="list">
        INSERT INTO knowledge_file (user_id, file_name, file_size, file_type, oss_key, status, error_message)
        VALUES
        <foreach collection="knowledgeFiles"  item="file" separator=",">
            (#{file.userId}, #{file.fileName}, #{file.fileSize}, #{file.fileType}, #{file.ossKey}, CAST(#{file.status} AS status), #{file.errorMessage})
        </foreach>
    </insert>
</mapper>